body {
    margin: 0;
    color:#000;
    font-family: raleway, sans-serif;
    font-size: 16px;
    line-height: 26px;
}
ul, h1, h2, h4 {
    margin:0;
    padding: 0;
}
section {
    max-width: 1340px;
    margin:40px auto 0;  
}
h1, h3, h4 {
    font-family: 'ralewaybold', sans-serif;
}
h2 {
    font-size: 16px;
    font-weight: inherit;
}
input, button {
    font-family: 'ralewaybold', sans-serif;
    font-size: 16px;
    border: none;
}
a {
    text-decoration: none;
    color:#000;
}
span {
    font-family: 'ralewaybold', sans-serif;
}
li {
    list-style: none;
}
/* Fonts */
@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway/raleway-regular-webfont.eot');
    src: url('fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway/raleway-regular-webfont.woff') format('woff'),
         url('fonts/raleway/raleway-regular-webfont.ttf') format('truetype'),
         url('fonts/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway/raleway-bold-webfont.eot');
    src: url('fonts/raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway/raleway-bold-webfont.woff') format('woff'),
         url('fonts/raleway/raleway-bold-webfont.ttf') format('truetype'),
         url('fonts/raleway/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Header */
header {
    max-width: 1340px;
    margin: auto;
}
#logo {
    width: 100px;
    height: auto;
    margin-top: 40px;
}
nav {
    float: right;
}
nav ul {
    display: flex;
}
.list-menu a {
    padding:49px 20px 0;
    display: block;
    border-top:1px solid #fff;
}
#inscription {
    font-family: 'ralewaybold', sans-serif;
    color:#0065FC;
    float: right;
    padding:50px 0 0 20px;
}
.list-menu a:hover {
    color:#0065FC
}
.list-menu a:focus  {
    border-top:1px solid #0065FC;
    color: #0065FC;
}
/* Recherche */
#recherche .fa-map-marker-alt {
    background-color: #f2f2f2;
    padding: 17px;
    border-radius: 15px 0 0 15px;
}
#recherche input {
    padding:15px;
    border: 1px solid #f2f2f2;
}
#recherche button {
    background-color: #0065FC;
    color: #fff;
    padding: 15px;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
}
#recherche #recherche-responsive {
    display:none;
    position: relative;
    border-radius: 15px 15px 15px 15px;
    right: 9px;
}
#bloc-filtre, #filtre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#filtre div {
    margin: 5px 8px;
}
#filtre i {
    padding: 14px;
    background-color: #deebff;
    color: #0065FC;
    border-radius: 50%;
    position:relative;
    right:3px;
}
#filtre .fa-child {
    padding: 13px 16px;
}
#filtre .fa-heart {
    padding: 14px 15px;
}
#filtre button {
    background-color: #fff;
    padding: 0px 19px 0px 0px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
}
#filtre button:hover {
    background-color: #0065FC;
    color:#fff;
    border: 2px solid #deebff;
}
#info .fa-info {
    margin: 0 10px 0 0;
    padding: 5px 10px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    color: #0065FC;
}
/* Hebergement */
#hebergements {
    display: flex;
    align-items: baseline;
}
#hebergements p {
    margin:0;
}
#hebergements-lieu, aside {
    background-color: #f2f2f2;
    padding:20px 25px;
    border-radius: 25px;
}
#hebergements-lieu {
    margin: 0 40px 0 0;
    flex:2.3;
}
aside {
    flex:1;
}
#carte-hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.carte {
    background-color: #fff;
    border-radius: 25px;
    padding: 5px;
    max-width: 246px;
    margin: 0 0px 30px;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
.carte .img-carte {
    overflow: hidden;
    height: 115px;
    border-radius: 25px 25px 0 0;
}
.carte .img-carte img {
    width: 100%;
}
.carte .texte-carte {
    padding: 8px;
}
.carte p {
    margin: 0;
}
.notation {
    display: flex;
}
.notation li {
    color:#0065FC;
}
.notation-4 li:last-child,
.notation-3 li:last-child,
.notation-3 li:nth-child(4) {
    color:#e2e2e2;
}
#titre-populaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fa-chart-line {
    font-size: 21px;
}
aside .carte-populaire {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 25px;
    padding: 5px;
    margin: 0 auto 30px;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
    height:135px;
}
aside .img-carte {
    overflow: hidden;
    border-radius: 25px 0 0 25px;
    flex:1.9;
}
aside .img-carte img {
    border-radius: 25px 0 0 25px;
    width: 100%;
    height: 100%;
}
aside .carte-populaire .texte-carte {
    display: flex;
    flex-direction: column;
    padding:8px;
    flex: 2;
}
/* Activites */
#activite {
    display: flex;
    flex-wrap: wrap;
}
.bloc-activite {
    display: flex;
    flex-wrap: wrap;
    flex:1;
    justify-content: space-around;
}
.bloc-2-activite {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.carte-activite {
    border-radius: 25px;
    margin: 0;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}
.img-activite {
    overflow: hidden;
}
.img-activite {
    max-width: 300px;
    height:134px;
    border-radius: 25px 25px 0 0;
}
.img-1-activite {
    height: 390px;
}
.texte-activite {
    padding:5px;
}
.texte-activite p {
    margin:0;
    padding: 10px 25px 15px;
}
/* Footer */
footer {
    margin:20px 0 0 0;
    background-color: #f2f2f2;
}
footer div {
    max-width: 1340px;
    margin:0 auto;
    padding:50px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
}
footer div ul {
    flex: 1;
}
footer div ul li:first-child {
    margin: 0 0 15px 0;
}
/* Responsive */
@media all and (max-width: 1360px) {
    #logo {
        margin:40px 0 0 20px;
    }
    #inscription {
        padding:50px 20px 0px 20px;
    
    }
    section {
        padding:0px 20px 0;
    }
    #hebergements-lieu {
        margin: 0 10px 0 0;
    }
}
@media all and (max-width: 1251px) {
    #carte-hebergements {
        justify-content: space-around;
    }
}
@media all and (max-width: 1239px) {
    #activite {
        justify-content: center;
    }
    .bloc-activite { 
        flex:initial;
        justify-content: center;
    }
    .carte-activite {
        margin: 0 10px 20px;
    }
}
@media all and (max-width: 990px) {
    #hebergements {
        display: flex;
        align-items: stretch;
        flex-direction: column-reverse;
        padding:0;
    }
    #hebergements-lieu {
        margin: 0 0 0 0;
        background-color: transparent;
    }
    #carte-hebergements {
        justify-content: space-around;
    }
    aside {
        border-radius: 0;
    }
    .carte-populaire {
        max-width: 500px;
    }
    footer div {
        justify-content: space-between;
    }
    footer div ul {
        flex: initial;
    }
}
@media all and (max-width: 679px) {
    .img-1-activite {
        height:134px;
    }
    .carte-activite {
        margin: 0 0 20px;
    }
    .bloc-activite,
    .bloc-2-activite,
    .carte-activite,
    .img-activite {
        max-width: 100%;    
    }
    footer div {
        flex-direction: column;
    }
    footer div ul {
        margin:0 0 50px 0;
    }
}
@media all and (max-width: 576px) {
    nav {
        float: none;
    }
    nav ul {
        justify-content: center;
        margin: 1px;
    }
    .list-menu {
        width: 100%;
        text-align: center;
    }
    .list-menu a {
        padding:40px 20px 19px;
        border-top:none;
        border-bottom:1px solid #f2f2f2;
    }
    .list-menu a:focus  {
        border-top:none;
        border-bottom:1px solid #0065FC;
    }
    #recherche {
        text-align: center;
    }
    #recherche #recherche-desktop {
        display:none;
    }
    #recherche #recherche-responsive {
        display:initial;
    }
    .carte {
        max-width: 100%;
    }
}
